	<div onClick=click() >开启Amon秘密入口</div>
<script>


function click(){

	chrome.tabs.getSelected(null,function(thisTab){		
		alert(1);	
        if(thisTab.url.indexOf("project/project/project_list.htm")!=-1){
		alert(2);	
			var inputs = document.getElementsByTagName('input');
			for(var i=0;i<inputs.length;i++){
			if(inputs[i].value=='批量运行'){
			var item = document.createElement('span');
			item.innerHTML="<input type='submit' class='btn' value='批量创建' onclick='batchCreateProject()'>";
			inputs[i].parentNode.insertBefore(item,inputs[i]);
			break;
				}
			}
		}else{
		alert(3);	
			var inputs = document.getElementsByTagName('input');
			for(var i=0;i<inputs.length;i++){
			if(inputs[i].value=='导出数据'){
			var item = document.createElement('span');
			item.innerHTML="<input type='submit' class='btn' value='批量创建' onclick='batchCreateJob()'> <input type='submit' class='btn' value='批量运行' onclick='batchRunJob()'> <input type='submit' class='btn' value='批量重置' onclick='batchResetJob()'> ";
			inputs[i].parentNode.insertBefore(item,inputs[i]);
			break;
				}
			}
		}
		document.getElementById("content").innerHTML=page.show();									
		//document.write("Visits "+ localStorage.getItem(thisTab.url) + " time(s).");      
	});  

}

</script>
